.THIS { }

.THIS .form-section-title {
    border-bottom: 1px solid #1f1f1f;
    text-transform: uppercase;
    margin-top: 2rem;
}

.THIS .fieldset-label {
    margin-top: 1.5rem;
}

.THIS .label-below {
    display: flex;
    flex-direction: column;
}

.THIS .label-below label {
    order: 1;
    margin-bottom: .25rem;
}

.THIS .label-below .slds-form-element__control {
    order: 0;
}

.THIS .slds-input,
.THIS .slds-select,
.THIS .slds-textarea {
    border-radius: 0;
    border-color: #1f1f1f;
    background-color: #fafafa;
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.THIS .slds-textarea {
    min-height: 100px;
}

.THIS .slds-form-element__control {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}

.THIS .slds-required {
    display: none;
}

.THIS .no-label label {
    display: none;
}

.THIS .digit2 {
    width: 4rem;
}
.THIS .digit3 {
    width: 5rem;
}
.THIS .digit4 {
    width: 6rem;
}

.THIS .submit-button,
.THIS .submit-button:hover,
.THIS .submit-button:active,
.THIS .submit-button:focus {
    background-color: #1f1f1f;
    border-color: #1f1f1f;
    color: #fff;
    padding: .5rem 2rem;
    border-radius: 0;
}