.THIS { }

.THIS .header {
    height: 5rem;
    background-color: rgba(32,26,22,0.9);
    padding: 1rem .5rem;
    text-align: center;
}

.THIS .header img {
    height: 100%;
    width: auto;
}

.THIS .welcome-title {
    font-size: 3rem;
    font-weight: 300;
}

.THIS .welcome-tagline {
    width: 70%;
    margin: 0 auto;
    border-top: 1px solid black;
}

.THIS .welcome-volunteer-tagline {
    width: 70%;
    margin: 0 auto;
    font-style: italic;
}

.THIS .bold {
    font-weight: bold;
}

.THIS .visitor-type-btn,
.THIS .visitor-type-btn:hover,
.THIS .visitor-type-btn:active,
.THIS .visitor-type-btn:focus {
    border-radius: 0;
    color: #000;
    background-color: transparent;
    border-color: #000;
    text-transform: uppercase;
    padding: .75rem 2rem;
    box-shadow: none;
}