.THIS {}

.THIS .finder-input-field {
    width: 100%;
}

.THIS .finder-input-field .slds-form-element__control {
    
}

.THIS .finder-input-field .slds-input__icon-group.slds-input__icon-group_right {
    right: 1rem;
}

.THIS button.slds-button {
    width: 100%;
}